<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="tipoDeBaseDeDatos" value="MYSQL" />
		<add key="baseDeDatos" value="universidad" />
		<add key="nombreDeHost" value="soft-inv-tst.cgremxbhkhpf.us-east-1.rds.amazonaws.com" />
		<add key="puerto" value="3306" />
		<add key="usuario" value="admin" />
		<add key="contraseña" value="NjqKIJzEv0wJTDRcFKJL3A==" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
	</system.webServer>
	<system.web>
		<globalization culture="es-ES" uiCulture="es-ES" />
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
	 <bindings>
		 <basicHttpBinding>
			 <binding name="AdminWSPortBinding" />
			 <binding name="ConsultorioWSPortBinding" />
			 <binding name="DiagnosticoPorCitaWSPortBinding" />
			 <binding name="DiagnosticoWSPortBinding" />
			 <binding name="EspecialidadWSPortBinding" />
			 <binding name="ExamenPorCitaWSPortBinding" />
			 <binding name="ExamenWSPortBinding" />
			 <binding name="HistoriaClinicaPorCitaWSPortBinding" />
			 <binding name="HistoriaWSPortBinding" />
			 <binding name="InterconsultaWSPortBinding" />
			 <binding name="LoginWSPortBinding" />
			 <binding name="MedicoWSPortBinding" />
			 <binding name="PacienteWSPortBinding" />
			 <binding name="RegistroWSPortBinding" />
			 <binding name="RolesPorUsuarioWSPortBinding" />
			 <binding name="TipoExamenWSPortBinding" />
			 <binding name="TurnoWSPortBinding" />
			 <binding name="UsuarioPorEspecialidadWSPortBinding" />
			 <binding name="UsuarioWSPortBinding" />
			 <binding name="CitaWSPortBinding" />
		 </basicHttpBinding>
	 </bindings>
	 <client>
		 <endpoint address="http://localhost:8080/SoftCitWS/AdminWS" binding="basicHttpBinding"
			 bindingConfiguration="AdminWSPortBinding" contract="adminWS.AdminWS"
			 name="AdminWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/ConsultorioWS"
			 binding="basicHttpBinding" bindingConfiguration="ConsultorioWSPortBinding"
			 contract="consultorioWS.ConsultorioWS" name="ConsultorioWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/DiagnosticoPorCitaWS"
			 binding="basicHttpBinding" bindingConfiguration="DiagnosticoPorCitaWSPortBinding"
			 contract="diagnosticoporcitaWS.DiagnosticoPorCitaWS" name="DiagnosticoPorCitaWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/DiagnosticoWS"
			 binding="basicHttpBinding" bindingConfiguration="DiagnosticoWSPortBinding"
			 contract="diagnosticoWS.DiagnosticoWS" name="DiagnosticoWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/EspecialidadWS"
			 binding="basicHttpBinding" bindingConfiguration="EspecialidadWSPortBinding"
			 contract="especialidadWS.EspecialidadWS" name="EspecialidadWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/ExamenPorCitaWS"
			 binding="basicHttpBinding" bindingConfiguration="ExamenPorCitaWSPortBinding"
			 contract="examenporcitaWS.ExamenPorCitaWS" name="ExamenPorCitaWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/ExamenWS"
			 binding="basicHttpBinding" bindingConfiguration="ExamenWSPortBinding"
			 contract="examenWS.ExamenWS" name="ExamenWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/HistoriaClinicaPorCitaWS"
			 binding="basicHttpBinding" bindingConfiguration="HistoriaClinicaPorCitaWSPortBinding"
			 contract="historiaclinicaporcitaWS.HistoriaClinicaPorCitaWS"
			 name="HistoriaClinicaPorCitaWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/HistoriaWS"
			 binding="basicHttpBinding" bindingConfiguration="HistoriaWSPortBinding"
			 contract="historiaWS.HistoriaWS" name="HistoriaWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/InterconsultaWS"
			 binding="basicHttpBinding" bindingConfiguration="InterconsultaWSPortBinding"
			 contract="interconsultaWS.InterconsultaWS" name="InterconsultaWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/LoginWS" binding="basicHttpBinding"
			 bindingConfiguration="LoginWSPortBinding" contract="loginWS.LoginWS"
			 name="LoginWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/MedicoWS"
			 binding="basicHttpBinding" bindingConfiguration="MedicoWSPortBinding"
			 contract="medicoWS.MedicoWS" name="MedicoWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/PacienteWS"
			 binding="basicHttpBinding" bindingConfiguration="PacienteWSPortBinding"
			 contract="pacienteWS.PacienteWS" name="PacienteWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/RegistroWS"
			 binding="basicHttpBinding" bindingConfiguration="RegistroWSPortBinding"
			 contract="registroWS.RegistroWS" name="RegistroWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/RolesPorUsuarioWS"
			 binding="basicHttpBinding" bindingConfiguration="RolesPorUsuarioWSPortBinding"
			 contract="rolesporusuarioWS.RolesPorUsuarioWS" name="RolesPorUsuarioWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/TipoExamenWS"
			 binding="basicHttpBinding" bindingConfiguration="TipoExamenWSPortBinding"
			 contract="tipoexamenWS.TipoExamenWS" name="TipoExamenWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/TurnoWS" binding="basicHttpBinding"
			 bindingConfiguration="TurnoWSPortBinding" contract="turnoWS.TurnoWS"
			 name="TurnoWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/UsuarioPorEspecialidadWS"
			 binding="basicHttpBinding" bindingConfiguration="UsuarioPorEspecialidadWSPortBinding"
			 contract="usuarioporespecialidadWS.UsuarioPorEspecialidadWS"
			 name="UsuarioPorEspecialidadWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/UsuarioWS"
			 binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
			 contract="usuarioWS.UsuarioWS" name="UsuarioWSPort" />
		 <endpoint address="http://localhost:8080/SoftCitWS/CitaWS" binding="basicHttpBinding"
			 bindingConfiguration="CitaWSPortBinding" contract="citaWS.CitaWS"
			 name="CitaWSPort" />
	 </client>
 </system.serviceModel>
</configuration>